<%= link_to "Add a new Todo", new_todo_path %>


      <ul class='todos'>
        <% @todos.each do |todo| %>
        <li class="<%= 'completed' if todo.completed? %>"> <%= todo.title %>
             <%= check_box(todo, :Completed, {id: "Check_todo"}, "true", "false") %>
        </li>
        <%= button_to "Mark Completed", todo_completion_path(todo) %>
        <% end %>
      </ul>
